@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


#session a.talk-KeyNote,
.timetable a.talk-KeyNote,
#timetable-modal a.talk-KeyNote,
#session-modal a.talk-KeyNote {
  display: inline-block;
  margin: 0 .1em .6em 0;
  padding: .6em;
  line-height: 1;
  color: #fff;
  text-decoration: none;
  background-color: #db9e4d;
}

#session a.talk-Intermediate,
.timetable a.talk-Intermediate,
#timetable-modal a.talk-Intermediate,
#session-modal a.talk-Intermediate {
  display: inline-block;
  margin: 0 .1em .6em 0;
  padding: .6em;
  line-height: 1;
  color: #fff;
  text-decoration: none;
  background-color: #7a7ab8;
}

#session a.talk-Advanced,
.timetable a.talk-Advanced,
#timetable-modal a.talk-Advanced,
#session-modal a.talk-Advanced {
  display: inline-block;
  margin: 0 .1em .6em 0;
  padding: .6em;
  line-height: 1;
  color: #fff;
  text-decoration: none;
  background-color: #e186e8;
}

#session a.talk-Beginner,
.timetable a.talk-Beginner,
#timetable-modal a.talk-Beginner,
#session-modal a.talk-Beginner {
  display: inline-block;
  margin: 0 .1em .6em 0;
  padding: .6em;
  line-height: 1;
  color: #fff;
  text-decoration: none;
  background-color: #78cba3;
}

#session a.talk-Sponsor,
.timetable a.talk-Sponsor,
#timetable-modal a.talk-Sponsor,
#session-modal a.talk-Sponsor {
  display: inline-block;
  margin: 0 .1em .6em 0;
  padding: .6em;
  line-height: 1;
  color: #fff;
  text-decoration: none;
  background-color: #FFB38E;
}

#session {
  justify-content: space-between;
  padding: 0 1em;  /* 両端に1emの余白を作る */
}

a.talk-level {
  align-self: flex-start;
}

.bg-white.rounded.shadow.p-6 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 315px;
  min-height: 320px;  
}

 p.talk-description {
  height: 100px;
}

#timetable-modal,
#session-modal  {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

#timetable-modal.visible,
#session-modal.visible {
  justify-content: center;
  align-items: center;
  display: flex;
  position: fixed;
}

#timetable-modal > .window,
#session-modal > .window {
  position: relative;
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  max-width: 768px;
  max-height: 90%;
  overflow: auto;
}

#timetable-modal > div.window > header,
#session-modal > div.window > header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 1;
  background-color: #0891B2;
  border-bottom: 1px #ccc solid;
  line-height: 3em;
  padding: 0 1em;
  font-weight: bold;
}

#timetable-modal > .window > div,
#session-modal > .window > div {
  height: 100%;
  overflow-y: auto;
  /*padding: 1em;*/
  padding: 4em 1em 1em;
  box-sizing: border-box;
}

#timetable-modal a.close,
#session-modal a.close {
  font-size: 2em;
  position: absolute;
  top: .2em;
  right: .5em;
  line-height: 1em;
  cursor: pointer;
}

#timetable-modal dl, 
#session-modal dl{
  margin: 0;
}

#timetable-modal dl > dt,
#session-modal dl > dt {
  font-weight: bold;
  margin-top: 1em;
}

#timetable-modal dl > dd,
#session-modal dl > dd {
  margin-left: 1em;
  font-size: smaller;
}

#timetable-modal > div.window > div > dl > dd.talk-title,
#session-modal > div.window > div > dl > dd.talk-title {
  font-size: large;
  font-weight: bold;
}

#timetable-modal > div.window > div > dl > dd.talk-subtitle {
  font-size: medium;
  font-weight: bold;
}

#timetable-modal > div.window > div > dl > dd:nth-child(4) > a,
#session-modal > div.window > div > dl > dd:nth-child(4) > a {
  font-size: large;
  font-weight: bold;
}

#sponsor-modal {
  display:  none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

#sponsor-modal.visible {
  display: flex;
  justify-content: center;
  align-items: center;
}

#sponsor-modal > .window {
  position: relative;
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  max-width: 768px;
  /* max-height: 90%; */
  overflow: auto;
}

#sponsor-modal > div.window > header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 1;
  background-color: #0891B2;
  border-bottom: 1px #ccc solid;
  line-height: 3em;
  padding: 0 1em;
  font-weight: bold;
}

#sponsor-modal > .window > div {
  height: 100%;
  overflow-y: auto;
  /*padding: 1em;*/
  padding: 4em 1em 1em;
  box-sizing: border-box;
}

#sponsor-modal a.close {
  font-size: 2em;
  position: absolute;
  top: .2em;
  right: .5em;
  line-height: 1em;
  cursor: pointer;
}

#sponsor-modal dl {
  margin: 0;
}

#sponsor-modal dl > dt {
  font-weight: bold;
  margin-top: 1em;
}

#sponsor-modal dl > dd {
  margin-left: 1em;
  font-size: smaller;
}

#sponsor-modal > div.window > div > dl > dd.talk-title {
  font-size: large;
  font-weight: bold;
}

#sponsor-modal > div.window > div > dl > dd:nth-child(4) > a {
  font-size: large;
  font-weight: bold;
}


#keynote img {
  width: 240px;
  height: 240px;
}

#sponsors > ul > li.gold > ul > li {
  width: 16em;
  height: 8em;
}

#sponsors > ul > li.silver > ul > li {
  width: 6em;
  height: 3em;
}

.gold > h3 {
  color: gold;
}

.silver > h3 {
  color: silver;
}

@media screen and (max-width: 768px) {
  #timetable-modal > .window {
    max-width: 100%;
    max-height: 100%;
  }
}

.bg-image {
  position: relative;
  z-index: 1;
}

.bg-image::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.5); /* 白色を半透明に設定 */
  z-index: -1;
}

.menu {
  /* position: relative; */
  z-index: 2; /* .bg-image::afterよりも大きな値に設定 */
}

.policy-box {
  /* position: relative; */
  z-index: 2; /* .bg-image::afterよりも大きな値に設定 */
}

.centered {
  margin-left: auto;
  margin-right: auto;
}

#social a[title="Facebook"] {
  color: #0084FF;
}

#social a[title="Youtube"] {
  color: #FF0000;
}

#social a[title="Blogger"] {
  color: #FF5722;
}

.co-sponsor img {
  width: 400px;
  height: auto;
}

@media screen and (max-width: 768px) {
  .co-sponsor img {
    width: 200px;
    height: auto;
  }

  #sponsor-modal > .window {
    position: fixed;
    max-height: 100%;
  }

  #sponsor-modal > .window p {
    max-height: 50vh; /* 適切な高さに設定します */
    overflow-y: auto; /* 垂直方向のスクロールを設定します */
  }

  .bg-white.rounded.shadow.p-6 {
    min-height: 200px;  
  }
}
